

// VARIABLES
$bears_orange:#C83803;
$bears_blue:#0B162A;

$sans_serif:'Arial', sans-serif;

@-webkit-keyframes gameSlideIn {
	/* Chrome, Safari, Opera */from {margin-left: -251px;} to {margin-left: 0;}
}
@keyframes gameSlideIn {
	/* Standard syntax */from {margin-left: -251px;}to {margin-left: 0;}
}


/* BEARS SCHEDULE STYLES */

.sked-topper{
	padding: 0 0 15px 0;
	h4{
		margin-top:0;
		padding-top:0;
	}
}


#bears-sked{
	font-family: $sans_serif;
	float: left;
	min-height:1500px; 
	z-index: 1000;
	margin-left:1px;
	position: absolute;
	top:310px;
	left:0px;
	display:block;
	
	span.box{
		background-color: #eee;
		margin-left: 0;
		border: 1px solid #888;
		width: 10px;height: 10px;
	}

	a{
		cursor: default;
		display:block;
		padding:8px 7px 7px 13px;
		border: 1px solid #888;
		border-top:none;
		overflow:hidden;
		min-height: 70px;
		text-transform: none;
		text-decoration: none;
		margin-bottom: 0;

		&.away {background-color:#eee;}
	}

	img {opacity:.5;}

	li{
		list-style-type: none;
		width:230px;
		-webkit-animation: gameSlideIn .75s;
		/* Chrome, Safari, Opera */animation: gameSlideIn .75s;
		
		&:first-child a{
			border-top: 1px solid #888;
		}

		&.active a, .played:hover{
			padding-left:8px;
			cursor: pointer;
			border-left:6px solid $bears_orange;
		}
		&.active a{
			border-right:1px solid transparent;
		}

		img{
			width: 40px;
			margin-right: 6px;
			margin: 5px 6px 6px 0;
			float: left;
		}
	}

	h3 {
		font-size:22px;
		margin-top:0;
		margin-bottom: 2px;
		font-weight: bold;
		color:#aaa;
	}
	.open {
		border: 1px solid #888;
		border-top:none;
		text-align:center;
		width: 228px;
		h3{
			font-weight: lighter;
			font-style: italic;
			// line-height:65px;
			padding:10px 0;
		}
	}
	
	p{color:#000;margin:0;text-transform:uppercase;font-size: 13px;line-height: 1em;}
	.played{
		h3{
			color:#000;
		}
		img{
			opacity:1;
		}
	}

	ul {
		border-top: 1px solid #888;
		margin-bottom: 0;
	}
	img.loading{opacity: 1;position: absolute;top: 90px;left: 21%;display: block;}


}

@media (max-width: 1000px){
	.affix{top:0;}	
}


@media (max-width: 768px) {
	
	#bears-sked{
		display:none;
		float:none;
		position:static;
		max-width:320px;
		width:100%;
		margin:0 auto;
		li {
			width:100%;
			margin-left: 0;
			-webkit-animation:none !important;
			animation: none !important;
		}
		&.active, &.played:hover{
			padding-left:8px;
			padding-right: 8px;
			cursor: pointer;
			border-left:6px solid $bears_orange;
			border-right:6px solid $bears_orange;
		}
		.open{width:100%;}
	}
	.sked-topper{text-align:center;border-right:none;}
}